{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>V-Labs</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'vendor/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
<form action="/updatedvar/" name="form" method="POST" class="form-horizontal">
    <fieldset>
    <legend><h2>Variabili Servizio {{ service }}</h2></legend>
    <div class="form-group">

      <div class="col-lg-10">
          {% csrf_token %}
          <input name="service" type="hidden" value="{{ service }}" />
          {{ f.as_p }}

        <input type="submit" value="Modifica Variabili" class="btn btn-primary"/>
      </div>
    </div>
    </fieldset>
    </form>

{% for key, value in app.items %}
<table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>
                                        {{key}}
                                        </th>
                                    </tr>
                                        <tr>
                                            <th>Variable</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for vv in value %}
                                        {% cycle '<tr>'  '' %}
                                        <td class="success">{{ vv.name }}</td>
                                        <td class="success">{{ vv.value }}</td>
                                        {% cycle  '</tr>' '' %}
                                        {% endfor %}
                                    </tbody>
                                </table>
{% endfor %}



</body>
</html>